<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{administrativo/fragments/layout}">
<head>
    <title>Página principal LifeInYourHands</title>
</head>
<body>
		<section class="layout-content" layout:fragment="corpo">

			<nav class="navbar navbar-expand-md bg-light">
				<div class="collapse navbar-collapse" id="navbarsExampleDefault">
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active"><i class="oi oi-caret-right"></i>
							<span>Home</span></li>
					</ul>
				</div>
			</nav>

<!-- 
			<div id="div-logo" class="container">
				<img id="logo" src="image/life_in_your_hands2.png" class="rounded d-block mx-auto" width="400" height="400" alt="logo principal" />	
			</div>
 -->			
			<div class="container">
				<div class="col-12 mt-5 mb-5">
					<img id="logo" class="rounded d-block mx-auto" src="image/life_in_your_hands2.png"  alt="logo principal" width="400" height="400" />	
				</div>
			</div>

		</section>

</body>
</html>
